@charset "UTF-8";

html,
body {
  background-color: #fafafa;
}

table {
  border: 2px solid #000000;
}

td {
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
}

input {
  color: #000000;
  padding: 0;
  border: 0;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
}

input:disabled {
  background-color: white;
}

aside#lateral {
  display: block;
  width: auto;
  float: right;
  background-color: white;
  padding: 10px;
  margin-top: -450px;
}

div#timer {
  margin-top: 80px;
}

div#container h1 {
  text-align: center;
}

div#container select {
  margin-bottom: 10px;
}

footer#rodape {
  clear: both; /*Limpa configuração dos dois lados, no caso vai pra baixo*/
  border-top: 1px #606060 solid;
  margin-top: 30px;
}

footer#rodape p {
  text-align: center;
}

button#solve {
  border-style: double;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

button#clear {
  border-style: double;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

button#newBoard {
  border-style: double;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 125px;
  margin-right: 10px;
  cursor: pointer;
}

#cell-0,
#cell-1,
#cell-2 {
  border-top: 2px solid #000000;
}
#cell-2,
#cell-11,
#cell-20 {
  border-right: 2px solid #000000;
}
#cell-18,
#cell-19,
#cell-20 {
  border-bottom: 2px solid #000000;
}

#cell-0,
#cell-9,
#cell-18 {
  border-left: 2px solid #000000;
}

#cell-3,
#cell-4,
#cell-5 {
  border-top: 2px solid #000000;
}
#cell-5,
#cell-14,
#cell-23 {
  border-right: 2px solid #000000;
}
#cell-21,
#cell-22,
#cell-23 {
  border-bottom: 2px solid #000000;
}
#cell-3,
#cell-12,
#cell-21 {
  border-left: 2px solid #000000;
}

#cell-6,
#cell-7,
#cell-8 {
  border-top: 2px solid #000000;
}
#cell-8,
#cell-17,
#cell-26 {
  border-right: 2px solid #000000;
}
#cell-24,
#cell-25,
#cell-26 {
  border-bottom: 2px solid #000000;
}
#cell-6,
#cell-15,
#cell-24 {
  border-left: 2px solid #000000;
}

#cell-27,
#cell-28,
#cell-29 {
  border-top: 2px solid #000000;
}
#cell-29,
#cell-38,
#cell-47 {
  border-right: 2px solid #000000;
}
#cell-45,
#cell-46,
#cell-47 {
  border-bottom: 2px solid #000000;
}
#cell-27,
#cell-36,
#cell-45 {
  border-left: 2px solid #000000;
}

#cell-30,
#cell-31,
#cell-32 {
  border-top: 2px solid #000000;
}
#cell-32,
#cell-41,
#cell-50 {
  border-right: 2px solid #000000;
}
#cell-48,
#cell-49,
#cell-50 {
  border-bottom: 2px solid #000000;
}
#cell-30,
#cell-39,
#cell-48 {
  border-left: 2px solid #000000;
}

#cell-33,
#cell-34,
#cell-35 {
  border-top: 2px solid #000000;
}
#cell-35,
#cell-44,
#cell-53 {
  border-right: 2px solid #000000;
}
#cell-51,
#cell-52,
#cell-53 {
  border-bottom: 2px solid #000000;
}
#cell-33,
#cell-42,
#cell-51 {
  border-left: 2px solid #000000;
}

#cell-54,
#cell-55,
#cell-56 {
  border-top: 2px solid #000000;
}
#cell-56,
#cell-65,
#cell-74 {
  border-right: 2px solid #000000;
}
#cell-72,
#cell-73,
#cell-74 {
  border-bottom: 2px solid #000000;
}
#cell-54,
#cell-63,
#cell-72 {
  border-left: 2px solid #000000;
}

#cell-57,
#cell-58,
#cell-59 {
  border-top: 2px solid #000000;
}
#cell-59,
#cell-68,
#cell-77 {
  border-right: 2px solid #000000;
}
#cell-75,
#cell-76,
#cell-77 {
  border-bottom: 2px solid #000000;
}
#cell-57,
#cell-66,
#cell-75 {
  border-left: 2px solid #000000;
}

#cell-60,
#cell-61,
#cell-62 {
  border-top: 2px solid #000000;
}
#cell-62,
#cell-71,
#cell-80 {
  border-right: 2px solid #000000;
}
#cell-78,
#cell-79,
#cell-80 {
  border-bottom: 2px solid #000000;
}
#cell-60,
#cell-69,
#cell-78 {
  border-left: 2px solid #000000;
}





/*** COMPONENT STYLES ***/
input.chat[type=submit], button.chat, button.green {
  background-color: #35f659;
  border: 0px;
  height: auto;
  width: auto;
  cursor: pointer;
  font-size: 15px;
 
}



input.chat[type=text], input.chat[type=password] {
  min-width: 16em;
  font-size: 12px;
}

button.red {
  background-color: #ea4b35;
}

label.chat{
  display: block;
  text-align: right;
  margin:left;
}

ul.messages, li.templatesession {
  list-style: none;
  padding: 0;
}

/*** STRUCTURE STYLES ***/
h1 {
  display: block;
  text-align: center;
  width: 45%;
  float: left;
  padding: 0 4px;
}


#config-form, #ua {
  background-color: rgb(214, 213, 213);
  float: left;
  clear: left;
  width: 75%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: right;
  border-radius: 1em;
  border: 4px solid black;
}

#session-list {
  float: left;
  width: 45%;
  margin: 0 0 0 4%;
}

.session {
  clear: both;
  display: block;
  border: 1px solid red;
  border-radius: 1em;
  border: 4px solid #ea4b35;
  text-align: center;
}

.session h2 {
  font-weight: normal;
}

.session h2 strong {
  font-weight: bold;
}

.session .dtmf, .session .dtmf *{
  display: inline-block;
}

.session .dtmf input[type="text"] {
  width: 2em;
  min-width: 0em;
  text-align: center;
}

.session video {
  display: block;
  visibility: none;
  height: 0;
  max-width: 100%;
}

.session video.on {
  visiblity: visible;
  height: auto;
}

.session .messages {
  max-height: 10em;
  min-height: 2em;
  overflow: auto;
}

.session .messages .local {
  color: #5f7ee0;
  clear: left;
  float: right;
  width: 60%;
  text-align: right;
  margin-right: 10%;
}

.session .messages .remote, .session .messages .error {
  color: #00a53b;
  clear: right;
  float: left;
  width: 60%;
  text-align: left;
  margin-left: 10%;
}

.session .messages .error {
  color: #ea4b35;
}


/*** FLOW STYLES ***/
#ua, .started #config-form {
  display: none;
}

#config-form, .started #ua {
  display: block;
}

#templates {
  display: none;
}


/*** Old styles ***/

#target {
width: 25em;
}

#hangup {
background-color: red;
}

.call-control {
height: 3em;
}

#dtmf-buttons button {
display: inline-block;
margin: 1em 0 0 0;
height: 3.8em;
width: 3.8em;
background-color: white;
border: 1px solid black;
border-radius: 2px;
font-size: 1em;
}

input.chat {
border-radius: 2px;
border: 0px;
height: 3em;
}

input.chat[type=submit] {
background-color: #35f659;
border: 0px;
}

input.chat[type=checkbox] {
height: auto;
}

#chat-box {
position: relative;
border-radius: 2px;
border: 1px solid black;
width: 50em;
height: 40em;
}

#message-input {
width: 100%;
position: absolute;
bottom: 1em;
border-top: 1px solid black;
padding-top: 1em;
}

#message, #message-submit {
display: inline-block;
margin: 0px 0px 0px 0px;
padding: 1px 1px 1px 1px;
}

#message {
width: 80%;
margin-left: 5em;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}

#message-submit {
margin-left: -4px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
padding-left: 5px;
padding-right: 5px;
}

#log-container {
height: 35em;
overflow: scroll;
}

#remote-media {
border-radius: 2px;
border: 1px black solid;
}


